

.ant-select-selector{
    background-color: #f5f5f5 !important;
}

.transaction-area .transaction-form .my-select{
    width: auto !important;
    height: 40px !important;
    margin-top: 10px;
    /* padding: 5px 10px; */
}

.transaction-area .transaction-form{
    display: flex;
    gap: 20px;
    align-items:flex-end;
}

.date-range .ant-picker {
    box-shadow: none;
    outline: 0;
    background: #f5f5f5;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    margin-top: 10px;
}

.date-range{
    display: flex;
    flex-direction: column;
}

.transaction-form .button-area {
    display: flex;
    gap: 20px;
    align-self: center;
    margin-top: 30px;
}

.filter{
    background: linear-gradient(to right, #56F444 ,#48FA8A) !important;
    height: auto;
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #030621;
    font-weight: 500;
}

.reset{
    background: #F5F5F5 !important;
    height: auto;
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #030621;
    font-weight: 500;
}
@media (min-width:768px ) and ( max-width:950px){
    .transaction-form .button-area {
        margin-top: 0px;
    }
}
@media ( max-width:655px){
    .transaction-form .button-area {
        margin-top: 0px;
    }
}