.hide-scroll::-webkit-scrollbar{
    width: 0px;
    padding: 0px;
}
.activepro{
    background-color: #56F444;
}
.btnsprospects button{
   padding: 18px 20px;
   border-radius: 10px;
   color: black;
   font-weight: 500;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    border-radius: 10px;
    /* padding: 10px 20px; */
    /* border: 1px solid #ccc; */
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
  }
  
  button:hover {
    background-color: #f0f0f0;
  }
  
  .data-display {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  @media (max-width:596px){
    .btnsprospects button{
      padding: 10px 10px;
      font-size: 13px; 
    }
   
  }