

.account-sidebar{
    background-color: #fff;
    padding: 40px 30px;
    /* position: fixed;
    height: 100vh; */
    /* width: 400px; */
}

.account-sidebar .title{
    color: #030621;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.account-sidebar .title.title-2{
    margin-top: 42px;
}


.links .li-item a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.links .li-item{

    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


.links .li-item:hover{
    background: #F5F5F5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
   
}

.links .li-item a{
    padding: 12px 10px;
    margin-bottom: 5px;
}
.links .li-item a img{
    margin-right: 15px;
}

.links .li-item a.active{
    background: #F5F5F5;
    color: #56F444;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}