
.sidebar-search{
    position: relative;
    max-width: 362px;
    min-width: 362px;
    width: auto;
    /* max-height: calc(100vh - 60px - 0px); */
    /* min-height: calc(100vh - 60px - 0px);
    height: calc(100vh - 60px - 0px); */
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray-secondary);
    background-color: #fff;
}
#subsidebar{
    position: relative;
    max-height: calc(100vh - 60px - 0px);
    min-height: calc(100vh - 60px - 0px);
    height: calc(100vh - 60px - 0px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray-secondary);
    background-color: #fff;
}
.header-btn-search{
    position: relative;
    padding: 4px 20px 0;
    border-bottom: 1px solid var(--gray-secondary);
}
.thirdbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 17px 13px 21px;
    font-size: 16px;
    font-weight: 600;
}
.leadinput-search{
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 107px;
    scrollbar-width: none;
}
.leadinput-search-side{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 70vh;
}
.bottom-btn-search{
    position: absolute;
    
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 12px 20px;
}

.close-sidebar{
    background-color: #fff;
    width: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -12px;
    height: 100vh;
    /* position: fixed; */
    z-index: 10;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 16%);
}
.button-close{
    position: absolute;
    right: -15px;
    background: #56F444;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media (min-width:1400px) and (max-width:1800px){
    .leadinput-search{
        height: 53vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 107px;
        scrollbar-width: none;
    }
    .leadinput-search-side{
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        height: 80vh;
    }
}

@media (min-width:800px) and (max-width:2000){
    .database-search-sidebar{
       height: 100vh;
    }
    .menes{
        height: 70vh;
        overflow-y: hidden;
    }
}