
.user-top-area{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.user-top-area .upload-photo{
    color: #56F444;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

.user-top-area .file-info{
    font-size: 14px;
    color: #B7B7B7;
}

.label{
    color: #7B7B7B;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 10px;
}

.form-details .my-input{
    margin-top: 11px;
}
@media (max-width:576px){
    .ant-card .ant-card-body {
        padding: 20px;
        border-radius: 0 0 8px 8px;
    }
    .ant-col {
        padding-right: 0px;
    }
}