.recentmain{
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    gap: 8px;
    /* margin-top: 60px; */
    /* margin-left: var(--nav-aside-width); */
    background-color: #f6f8fd;
    max-height: calc(100vh - 60px - 0px);
    height: calc(100vh - 60px - 0px);
    width:100%;
    overflow-x: auto;
    scrollbar-width: none;
}
.recentsectwo{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 10px;
    width: 45%;
}
/* .ant-layout{
    background: none;
    height: 100%;
    top: 0;
    padding: 0px;
}*/


#recentmainsidebar{
    position: relative;
    max-width: 370px;
    min-width: 370px;
    width: auto;
    max-height: calc(100vh - 60px - 0px);
    height: calc(100vh - 60px - 0px);
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid rgb(207, 207, 207); */
    border: none;
    background-color: #fff;
    overflow-y: scroll;
   
}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
#recentmainsidebar::-webkit-scrollbar{
   width: 6px;
}
#recentmainsidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.162); 
    border-radius: 10px;
}
#recentmainsidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.374); 
}
.tolist::-webkit-scrollbar{
   width: 6px;
}
.tolist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.162); 
    border-radius: 10px;
}
.tolist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.374); 
}
#recentbtns{
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    width: 100%;
    overflow: scroll;
    padding-bottom: 0px;
    white-space: nowrap;
}
#recentbtns::-webkit-scrollbar{
    width: 0px;
}
 .active{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.custom-toast {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; */
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.317);
  }
  .toaster{
    position: fixed;
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }

@media (max-width:805px){
    
}
@media (max-width:768px){
    .recentmain{
        height: auto;
        max-height: 10000px;
        flex-direction: column;
    }
    .recentsectwo{
        width: 100%;
        padding: 0px;
    }
    #recentmainsidebar{
        position: relative;
        max-width: 100%;
        min-width: 100%;
        width: auto;
        max-height:100000px;
        height: auto;
        display: flex;
        flex-direction: column;
        /* border-right: 1px solid rgb(207, 207, 207); */
        background-color: #fff;
        overflow-y:none;
        border-radius: 10px;
    }
    #recentmainsidebar::-webkit-scrollbar{
        width: 0px;
     }
   
}
@media (max-width:576px){
   
}
